.folderContainer {
  margin: 0.75vw 0.75vw 0.75vw 0.75vw;
}

.folderIcon {
  height: 10vw;
  width: 10vw;
}
.folderName {
  font-size: 1.5vw;
  text-align: center;
  width: 10vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
